
<div class="container-fluid">
  <div class="row justify-content-center" id="banner">
    <div class="col-12 col-sm-10 col-md-7 ">
      <div class="banner-wrap">

        <a href="https://nestnursing.com" >
          <img src="../../assets/NestNursingHomeBanner.jpg" alt="The NestNursingHome บ้านพักดูแลผู้สูงอายุ พักฟื้น ติดเตียง" 
          class="w-100 shadow banner">
          <p class="banner-text">คลิก !!</p>
        </a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center footer">
      <div class="col-md-4 col-sm-12 col-12">
          <div class="row ">
            <div class="col-12">
              <div class="row justify-content-center">
  
                <img src="../../assets/LOGO_NEST_HOMECARE_WHITE.svg" alt="" style="width:180px;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 end pt-4">
          <p><i class="fas fa-map-marked-alt"></i> ที่อยู่<br>34 ซอย ปุณณวิถี 24 <br>
          สุขุมวิท 101 บางจาก <br>
          พระโขนง กทม.<br>
          10260 
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-12 end pt-4" id="contact">
          <p class="bold">ติดต่อ</p>
          <p><i class="fas fa-phone"></i> <a href="tel:061-519-5197" class="link"> 061-519-5197</a> </p>
          <p><a href="https://line.me/R/ti/p/%40ydz1834x" class="link"><img class="line-add" height="36" border="0" alt="เพิ่มเพื่อน"  src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"> @nestcare</a> </p>
          <p><i class="far fa-paper-plane"></i><a href = "mailto: nestnursing@gmail.com" class="link"> nestnursing@gmail.com</a> </p>
          <p><i class="fas fa-mobile-alt"></i><a href="https://www.nestcarejob.com" class="link"> nestcarejob.com</a> </p>
          
          
        </div>
  </div>
  <div class="row justify-content-center footerend py-1">
   

      <div class="col-12 ">
        
        <div class="text-center">บริษัท บ้านผู้สูงอายุกรุงเทพ จำกัด</div>
      </div>
      <div class="col-12">
  
        <div class="text-center">BANGKOK SENIOR HOME Co.,Ltd.</div>
      </div>
      <div class="col-12">
        
        <div class="text-center">Copyright ©2019 nestcarejob.com ALL RIGHTS RESERVED</div>
      </div>
      
    
    
  </div>
</div>


