.footer{
    background: rgba(35, 126, 216, 0.91);
    color: white;
    font-size: 0.9rem;
}
.banner{
    border-radius: 10px;
    margin: .7rem auto;

}
#contact {
    line-height: 0.6;
    

}
.end{
    padding-left: 100px;
    padding-top: 1rem;
}
.footerend {
    background: rgba(6, 111, 216, 0.91);
    border-top: white solid 1px; 
    font-size: 0.7rem;
    color:white;
    

}
.bold {
    font-weight: 400;
}
.link {
    text-decoration: none;
    color: white;
}
.line-add {
    border-radius: 50rem;
}
.banner-text {
    position: absolute;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    top: 70%;
    left: 70%;
    text-shadow: 0 .8rem 1rem rgba(0,0,0,.9);



}
.banner-wrap {
    position: relative;
}