.bg-overlay {
  background-image: url(../../assets/Nest_Homecare.jpg)  ;
  background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-position:  center ;
  background-size: cover ;
  
  height: 600px;
  width: 100%;
  position: relative;
}
.banner {
  background: linear-gradient(to right,  rgb(30, 143, 255) ,  rgba(30, 143, 255, 0.3)) ;
  color: white;
  padding: 15px;
  position: absolute;
  bottom: 0;
}
.subtitle {
  letter-spacing: 20;
}
.fa-check-circle{
  color: rgb(0, 207, 104);

}
.none-bullet {
  list-style: none;
}
.card {
  padding-top: 40px;
  border: none;
  font-size: 1.2rem;
  margin-top: 20px;
}
small {
  font-weight: 300;
}
.lead {
  font-size: 0.9rem;
  color: gray;
  margin-top: 10px;
}
.fa-file-alt, .fa-coins, .fa-user-check{
  color: #1e90ff;
  margin-bottom: 10px;
  }
.fig{
  color: #1e90ff;
}
#button {
  background: #f2f2f2;
  padding: 50px;
}
.btn-form {
  background-color: #1e90ff;
  color: white;
  border-radius: 50rem;
  padding: 10px 40px;
  cursor: pointer;
  box-shadow: 0 7px 20px 0 rgba(23, 104, 255, 0.74);
  font-size: 1.2rem;
  margin-top: 25px;



}
h2 {
  color: salmon;
}
.consent-link {
  text-decoration: underline;
}


