<div class="container">
  <div class="col-md-10 col-sm-12 col-12 mt-3">

    <h5>เงื่อนไขการให้บริการ และคำแนะนำจาก Nest Homecare</h5>
    <ol>
      <li>เพื่อการดูแลที่เหมาะสมเราแนะนำให้ใช้ผู้ดูแลหนึ่งท่านต่อผู้รับบริการหนึ่งท่าน</li>
      <li>การยกเลิกหรือเปลี่ยนแปลง ต้องแจ้งอย่างน้อย 5 วัน ก่อนถึงวันและเวลาที่จอง ครอบครัวหรือผู้รับบริการจึงจะได้รับเงินคืนเต็มจำนวน</li>
      <li>ครอบครัวหรือผู้รับบริการต้องชำระค่าบริการภายใน 2 วัน หลังจากได้รับใบแจ้งค่าบริการ</li>
      <li>ครอบครัวหรือผู้รับบริการสามารถเปลี่ยนผู้ดูแลได้หากครบกำหนดการรับบริการเดิมแล้ว</li>
      <li>ครอบครัวหรือผู้รับบริการไม่ต้องจ่ายค่าใช้จ่ายอื่นๆให้กับผู้ดูแล (เช่น ค่าอาหาร,ค่าเดินทาง) ยกเว้นค่าบริการเสริมในวันหยุด (OT)</li>
      <li>ผู้ดูแลจะให้บริการตามขอบเขตงานที่ได้ตกลงไว้ หากมีงานนอกเหนือจากที่ตกลงไว้ผู้ดูแลสามารถปฏิเสธไ</li>
      <li>บริการของเราช่วยให้ท่านหาผู้ดูแลได้ง่ายขึ้น แต่ทางเราไม่สามารถรับผิดชอบภาวะแทรกซ้อนที่เกิดจากการดูแลของผู้ดูแล หรือพฤติกรรมที่ไม่พึงประสงค์ของผู้ดูแลได้</li>
      <li>หากมีทรัพย์สินสูญหาย หรือเสียหาย ให้ครอบครัวหรือผู้รับบริการแจ้งความ เมื่อพิสูจน์ได้แล้วว่าเป็นความผิดของผู้ดูแลจริงNest Homecare จะชดเชยค่าเสียหายให้ตามความเสียหายที่เกิดขึ้นจริง ในวงเงินสูงสุด 20,000 บาท</li>
      <li>หากมีการยกเลิกบริการก่อนครบกำหนด ทางเรายินดีคืนเงินส่วนที่เหลือให้ โดยหักค่าบริการจัดหา 10% ร่วมกับคิดค่าบริการเป็นรายวันที่ได้รับบริการจริง และทางครอบครัวสามารถหาผู้ดูแลใหม่ทดแทนได้</li>
      <li>หากครอบครัวหรือผู้รับบริการติดต่อจ้างหรือจ่ายเงินผู้ดูแลโดยตรง หากมีทรัพย์สินสูญหาย หรือเสียหาย ทางเราไม่สามารถเปิดเผยข้อมูลของผู้ดูแลได้ และจะไม่มีส่วนในการรับผิดชอบความเสียหายนั้นๆ และข้อตกลงทั้งหมดถือเป็นโมฆะ</li>
      <li>หากผู้ดูแลไม่ไปให้บริการตามที่นัดหมาย ทางเราจะหาผู้ดูแลใหม่ทดแทนให้ภายใน 3 วัน หากหาผู้ดูแลใหม่ให้ไม่ได้ทางเรายินดีคืนเงินเต็มจำนวน</li>
      <li>หากผู้ดูแลขอลามากกว่า 4 วันต่อเดือน ทำให้ครอบครัวหรือผู้รับบริการต้องหาผู้ดูแลทดแทน ทาง Nest Homecare ยินดีจัดหาผู้ดูแลรายวันทดแทนให้โดยไม่ต้องเสียค่าใช้จ่ายเพิ่ม หากทาง Nest Homecare จัดหาผู้ดูแลทดแทนให้ไม่ทัน ทางเรายินดีคืนเงินให้ 800 บาทต่อวัน</li>
      <li>หากครอบครัวหรือผู้รับบริการให้วันลาเพิ่มแก่ผู้ดูแลทาง Nest Homecare ไม่มีนโยบายคืนเงินให้</li>
    </ol>
    <p>
  </div>

      <h5>ขอบเขตในการทำงานของผู้ดูแล</h5>
      <ol>
        <li>ดูแลกิจวัตรประจำวันของผู้สูงอายุ เช่น การรับประทานอาหาร การนอนหลับพักผ่อน การเคลื่อนย้าย การขับถ่ายอาบน้ำ เช็ดตัว เปลี่ยนเสื้อผ้า ให้ถูกสุขลักษณะ อยู่เป็นเพื่อนพูดคุยกับผู้ป่วยหรือผู้สูงอายุ</li>
        <li>ดูแลทางการแพทย์เบื้องต้น เช่น จัดยา ป้อนอาหาร ดูดเสมหะ พลิกตะแคงตัว กายภาพบำบัดเบื้องต้น ตามความจำเป็นของผู้สูงอายุแต่ละท่าน</li>
        <li>ทำความสะอาดอุปกรณ์ต่างๆ และห้องนอนผู้ป่วยหรือผู้สูงอายุ ซักรีดเสื้อผ้าอื่นๆของผู้สูงอายุ ให้ถูกสุขลักษณะ</li>
        <li>สังเกตพฤติกรรมการเปลี่ยนแปลงต่างๆของผู้สูงอายุ รวมทั้งเรื่องสุขภาพของผู้สูงอายุ และรายงานให้ญาติของผู้สูงอายุทราบ</li>
        <li>จัดการสิ่งปฏิกูลและมูลฝอยที่เกิดจากการดูแลผู้สูงอายุ</li>
        <li>ผู้ดูแลไม่จำเป็นต้องทำงานบ้านอื่นๆที่ไม่เกี่ยวข้องกับผู้สูงอายุ เว้นแต่ผู้จ้างได้ทำข้อตกลงกับผู้ดูแลโดยตรง</li>
      </ol>

    </div>
    <app-consent-resume></app-consent-resume>



