<div class="container shadow p-4  ">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-10 col-12 col-lg-8 my-3">
      <img src="../../../assets/5thing-to-prevent-bedridden.jpg" alt="5 สิ่งที่ต้องระวังในการดูแลผู้ป่วยติดเตียง" class="w-100" >
    </div>
  </div>
  <h1 class="text-center text-primary">5 สิ่งที่ต้องระวังในการดูแลผู้ป่วยติดเตียง</h1>

  <div class="row justify-content-center p-3">
    <share-buttons [theme]="'modern-dark'" [include]="['facebook','line']" 
    [show]="2" [size]="4" [showText]="true" 
      [url]="'https://nestcarejob.com/blogs/5thing-to-prevent-bedridden'"
      [autoSetMeta]="false"></share-buttons>
  </div>

  <p>เมื่อคนที่เรารักเป็นผู้ป่วยติดเตียง เราจะมีวิธีอย่างไรในการดูแลผู้ป่วยติดเตียง
    เพื่อให้คนที่เราที่รักมีสุขภาพที่แข็งแรงและยืนยาว</p>
  <ul class="nav flex-column card my-3">
    <div class="card-header">เนื้อหา</div>
    <li class="nav-item">
      <a class="nav-link " pageScroll href="#1">สำลักอาหาร</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" pageScroll href="#2">แผลกดทับ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" pageScroll href="#3">ข้อติดและกล้ามเนื้อฝ่อลีบ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " pageScroll href="#4">ภาวะปอดแฟบ (atelectasis)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " pageScroll href="#5">ภาวะสับสน </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" pageScroll href="#end"><strong>สุดท้าย...</strong> </a>
    </li>
  </ul>

  <h2 class=" text-primary my-3">5 สิ่งที่ต้องระวังในการดูแลผู้ป่วยติดเตียง</h2>
  <h3 class="text-primary" #1>
    <span id="1">
      1.สำลักอาหาร
    </span>
  </h3>
  <p>ผู้ป่วยติดเตียงมักจะมีปัญหาในการทานอาหารร่วมด้วย เนื่องจากมีปัญหาในการกลืนหรือปัญหากล้ามเนื้ออ่อนแรง
    ทำให้เวลาผู้ดูแลป้อนอาหาร
    ผู้ป่วยอาจจะสำลักได้ง่าย อาหารที่สำลักจะเข้าไปในทางเดินหายใจและเกิดภาวะปอดติดเชื้อตามมา
    ดังนั้นผู้ดูแลควรจะป้อนอาหารเมื่อผู้ป่วยอยู่ในท่านั่งเสมอ
    หากผู้ป่วยไม่สามารถนั่งทรงตัวเองได้ ผู้ดูแลต้องไขหัวเตียงผู้ป่วยขึ้น 60-90 องศา หรือหากเป็นเตียงนอนธรรมดา
    ผู้ดูแลต้องใช้หมอนหนุนให้ผู้ป่วยนั่งพิงหมอนเพื่อรับประทานอาหาร
    กรณีผู้ป่วยใส่สายให้อาหารทางจมูก (NG feed) ผู้ดูแลควรจัดท่าให้ผู้ป่วยนอนอยู่ในท่าหัวสูง 30-45 องศา ก่อนฟีด
    และให้อยู่ในท่าหัวสูงต่ออีกประมาณ 1 ชั่วโมง
    เพื่อป้องกันไม่ให้อาหารไหลย้อนกลับขึ้นมาซึ่งจะทำให้ผู้ป่วยสำลักได้
  </p>

  <h3 class="text-primary" id="2">2.แผลกดทับ</h3>
  <p>การดูแลผู้ป่วยติดเตียงต้องมีการพลิกตัวทุก 2 ชั่วโมง เนื่องจากหากผู้ป่วยอยู่ในท่าเดิมเป็นเวลานาน
    ผิวหนังบริเวณที่รับแรงกดจากน้ำหนักตัวจะเป็นแผลกดทับได้
    ระยะแรกจะสังเกตได้ว่าผิวหนังบริเวณนั้นจะเป็นรอยแดงช้ำ หากทิ้งไว้แผลจะลึกและกว้างขึ้น จนบางครั้งแผลลึกจนถึงกระดูกก็มี
    แผลอาจติดเชื้อและทำให้ติดเชื้อในกระแสเลือดตามมาได้
    ส่วนตัวผมเคยเจอเคสที่ผู้ดูแลลืมผลิกตะแคงตัวเพียงแค่ 3-4 วัน หลังจากนั้นผู้ป่วยเริ่มมีไข้
    ทำให้ผู้ดูแลต้องพามาโรงพยาบาล ตรวจพบอีกทีแผลขนาดใหญ่เท่ากำปั้นแล้วก็มี
    และยิ่งผู้ป่วยติดเตียงมักจะมีปัญหาทางสมองร่วมด้วย ทำให้ไม่สามารถบอกได้ว่าเจ็บปวดตรงไหน
    ทำให้แผลลามไปเรื่อยๆหากผู้ดูแลไม่ได้สังเกต
    บริเวณที่มักพบแผลกดทับจะเป็นบริเวณที่รับน้ำหนักตัวเมื่ออยู่ในท่านอน เช่น
  </p>
  <li>ก้บกบ</li>
  <li>ส้นเท้า</li>
  <li>ตาตุ่ม</li>
  <li>ข้อศอก</li>
  <a href="https://www.si.mahidol.ac.th/th/division/hph/admin/news_files/660_49_1.pdf" class="text-primary">การจัดท่านอนพลิกตะแคงตัว สามารถดูได้ที่นี่</a>
  
<br>
  <h3 class="text-primary" id="3">3.ข้อติดและกล้ามเนื้อฝ่อลีบ</h3>
  <p>ผู้ป่วยติดเตียงมักจะเคลื่อนไหวได้น้อยอยู่แล้ว เมื่อร่างกายอยู่ในท่าเดิมนานๆจะทำให้ข้อติดไม่สามารถเหยียดข้อออกได้
    ซึ่งเมื่อเป็นแล้วจะแก้ไขได้ยาก
    วิธีป้อนกันคือผู้ดูแลต้องทำกายภาพให้ทุกวัน เช้า-เย็น เป็นอย่างน้อย โดยข้อที่เน้นกายภาพมีดังต่อไปนี้
  </p>
  <li>นิ้วมือและข้อมือ</li>
  <li>ข้อศอก</li>
  <li>หัวไหล่</li>
  <li>ข้อสะโพก</li>
  <li>เข่า</li>
  <li>ข้อเท้า</li>

  <a href="https://phartrillion.com/bed-ridden-physiotherapy/" class="text-primary">ท่าในการกายภาพป้องกันข้อติด สามารถดูได้ที่นี่</a>
<br>
  <h3 class="text-primary" id="4">4.ภาวะปอดแฟบ (atelectasis)</h3>
  <p>เมื่อผู้ป่วยติดเตียงอยู่ในท่านอนเป็นส่วนใหญ่ ผู้ป่วยจะหายใจตื้นกว่าปกติทำให้ปอดไม่ขยาย
    และเกิดภาวะปอดแฟบและหอบเหนื่อยในเวลาต่อมา
    ดั้งนั้นผู้ดูแลควรจัดให้ผู้ป่วยอยู่ในท่านั่งในช่วงเวลากลางวัน เนื่องจากผู้ป่วยจะหายใจได้ลึกมากกว่าในท่านั่ง
  </p>

  <h3 class="text-primary" id="5">5.ภาวะสับสน</h3>
  <p>ผู้ป่วยติดเตียงมักมีภาวะสมองเสื่อม หรือเคยเป็นเส้นเลือดในสมองตีบ (stroke) มาก่อนทำให้สมองทำงานได้ไม่เท่าคนปกติ
    ผู้ป่วยอาจมีพฤติกรรม
    อารมณ์ ความคิด การนอนที่เปลี่ยนแปลงไป เช่น หงุดหงิดโมโหง่าย ก้าวร้าว บางคนอาจหลงลืม ถามเรื่องเดิมซ้ำๆ
    หรือมีพฤติกรรมทางเพศที่ไม่เหมาะสม
    นอนไม่หลับ บางครั้งพูดคนเดียว มีหูแว่วภาพหลอน
    ผู้ดูแลต้องพยายามเข้าใจว่าสิ่งเหล่านี้เป็นอาการทางสมองซึ่งตัวผู้ป่วยเองก็ไม่ได้ตั้งใจที่จะแสดงออกอย่างนั้น
    วิธีรับมือคือ
  </p>
  <li>พยายามอธิบายเท่าที่ทำได้ อย่าโต้เถียง ให้พยายามเข้าใจว่าเป็นจากโรคทางสมอง</li>
  <li>จัดสถานที่ สิ่งของให้ผู้ป่วยคุ้นเคยเพื่อลดอาการสับสน</li>
  <li>บอก วัน เวลา สถานที่ ให้ผู้ป่วยทราบทุกวัน อาจติดปฏิทิน และนาฬิกาที่มีตัวเลขขนาดใหญ่ชัดเจนไว้ในห้อง</li>
  <li>ห้องผู้ป่วยควรมีหน้าต่างให้แสงส่องถึงได้ เพื่อให้ผู้ป่วยไม่สับสนระหว่างกลางวันและกลางคืน</li>
  <li>ลดตัวกระตุ้นในตอนกลางคืน เช่น เสียง หรือ แสงรบกวน อากาศไม่ร้อนหรือหนาวจนเกินไป</li>
  <li>กระตุ้นในผู้ป่วยตื่นในเวลากลางวัน หากผู้ป่วยนอนหลับช่วงกลางวันจะทำให้ผู้ป่วยไม่หลับเวลากลางคืน และสับสนกลางคืนได้
  </li>

  <br>

  <h2 class="text-primary" id="end">สุดท้าย...</h2>
  <h5>สุดท้ายการดูแลผู้ป่วยติดเตียง อาจจะฟังดูยาก
    แต่หากผู้ดูแลเข้าใจผู้ป่วยและรู้วิธีการดูแลที่ถูกต้องก็จะสามารถป้องกันภาวะแทรกซ้อนที่ตามมาได้
    และที่สำคัญที่สุดคือ เราจะมีโอกาสได้ดูแลท่านเหมือนที่ท่านเคยดูแลเรามาเมื่อครั้งเรายังช่วยเหลือตัวเองไม่ได้
  </h5>
  <div class="row justify-content-center m-3">
    <share-buttons [theme]="'modern-dark'" [include]="['facebook','line']" [show]="2" [showText]="true"
      [showCount]="true" [size]="4" [showCount]="false"
      [url]="'https://nestcarejob.com/blogs/5thing-to-prevent-bedridden'"
      [autoSetMeta]="false"></share-buttons>
  </div>
  <div class="row justify-content-center">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnesthomecare%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>

</div>