
<div class="container mt-3 mb-3">
  <h5>ข้อมูลการติดต่อ</h5>
  <div class="row">
    <ul>
      <li>บริษัท บ้านผู้สูงอายุกรุงเทพ จำกัด</li>
      <li>BANGKOK SENIOR HOME Co.,Ltd.</li>
      <li>34 ซอย ปุณณวิถี 24 
          สุขุมวิท 101 บางจาก 
          พระโขนง กทม.
          10260</li>
    </ul>
  </div>
  <h6>แผนที่</h6>
  <div class="row justify-content-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.4999530861637!2d100.61487141465344!3d13.688142490388675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29f4ebc86f80f%3A0x91a0f6e297141540!2zVGhlIE5lc3QgTnVyc2luZyBIb21lIOC4qOC4ueC4meC4ouC5jOC4lOC4ueC5geC4peC4nOC4ueC5ieC4quC4ueC4h-C4reC4suC4ouC4uCDguJzguLnguYnguJvguYjguKfguKLguJ7guLHguIHguJ_guLfguYnguJkg4Lic4Li54LmJ4Lib4LmI4Lin4Lii4Lir4Lil4Lix4LiH4Lic4LmI4Liy4LiV4Lix4LiU!5e0!3m2!1sen!2sth!4v1553710206900" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  
  <div class="row m-3">
    <h5 class="text-center">บริหารงานโดย</h5>
  </div>
    
    <div class="row justify-content-center">

    
    <div class="col-md-8 col-sm-10 col-12">
    <div class="row justify-content-center">
        <div class="card shadow">

        
        <div class="row ">
          <div class="col-4">
            <img src="../../assets/profile-peach.jpg" class="circle" alt="">
          </div>
          <div class="col-8 align-self-center">
            <h6>นพ.พิชญุตม์ เกษมภักดีพงษ์</h6>
            <small>Co-Founder & CEO</small><br>
          </div>
        </div>
        <hr>
        <div class="row ">
            <div class="col-4">
              <img src="../../assets/profile-dome2.jpg" class="circle" alt="">
            </div>
            <div class="col-8 align-self-center">
              <h6>นพ.ชยวัน รุ่งกาญจนกุล</h6>
              <small>Co-Founder & CTO</small><br>
            </div>
          </div>
          <hr>
          <div class="row ">
              <div class="col-4">
                <img src="../../assets/profile-tee.jpg" class="circle" alt="">
              </div>
              <div class="col-8 align-self-center">
                <h6>เอกสิทธิ์ บุบพัณหสมัย</h6>
                <small>Co-Founder & CFO</small>
              </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-4">
                  <img src="../../assets/profile-deaw.jpg" class="circle" alt="">
                </div>
                <div class="col-8 align-self-center">
                  <h6>พชร รุ่งกาญจนกุล</h6>
                  <small>Chief Data Officer</small>
                </div>
              </div>
              <hr>
              <div class="row ">
                  <div class="col-4">
                    <img src="../../assets/profile-mom.jpg  " class="circle" alt="">
                  </div>
                  <div class="col-8 align-self-center ">
                    <h6>ไขศรี รุ่งกาญจนกุล</h6>
                    <small>Manager Director</small>
                    
                  </div>
                </div>
                
        

        </div>
      </div>
    </div>
    </div>
      
  
</div>

