



<div class="container-fluid" >
  <div class="row ">
<div class="bg-overlay">
      <div class="banner col-12 justify-content-center text-center ">
        <h1>Nest Homecare  </h1>
        <h5 class="subtitle">หางานดูแลผู้สูงอายุ เฝ้าไข้ ทั่วประเทศ 
        <br>เชื่อถือได้ บริหารงานโดยทีมแพทย์ </h5>
      </div>
    </div>
  </div>
</div>

  

  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8 col-12 col-sm-8 ">
        
              <div class="info shadow ">
                <ul>
                  <li class="none-bullet"><i class="far fa-check-circle"></i> เชื่อถือได้ บริหารงานโดยทีมแพทย์</li>
                  <li class="none-bullet"><i class="far fa-check-circle"></i> รายได้ดี เริ่มต้น 18,000 บาท/เดือน ไม่หักเพิ่ม</li>
                  <li class="none-bullet"><i class="far fa-check-circle"></i> เงินออกทุกสัดาห์</li>
                  <li class="none-bullet"><i class="far fa-check-circle"></i> เลือกงานที่ต้องการได้ มีทั้งงานประจำ และ ชั่วคราว</li>

                  <small> *รายละเอียดเพิ่มเติมดูใน <span>เงื่อนไขการรับบริการ</span></small>
                </ul>
        
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-4 col-sm-4 col-12">
                <div class="info shadow">
                  <div class="pl-4 ">
                    <h2>1.</h2>
                  </div>
                  <div class="row justify-content-center">
                    <i class="fas fa-file-alt fa-3x icon-block"></i>
                  </div>
                  <div class="row justify-content-center">กรอกข้อมูล</div>
                  <p class="text-center lead">กรอกข้อมูลง่ายเพียงแค่ 3 นาที <br>ฟรีไม่มีค่าใช้จ่าย</p>
          
          
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12">
                  <div class="info shadow">
                      <div class="pl-4 ">
                          <h2>2.</h2>
                        </div>
                    <div class="row justify-content-center">
                      <i class="fab fa-line icon-block fa-3x"></i>
                    </div>
                    <div class="row justify-content-center">แอดไลน์ @nestjob</div>
                    <p class="text-center lead">ติดตามข้อมูลข่าวสารดีๆ <br>หรือสอบถามข้อมูลเพิ่มแติม </p>
          
          
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="info shadow">
                        <div class="pl-4 ">
                            <h2>3.</h2>
                          </div>
                      <div class="row justify-content-center">
                        <i class="fas fa-medkit icon-block fa-3x"></i>
                      </div>
                      <div class="row justify-content-center">เลือกรับงานที่สนใจ</div>
                      <p class="text-center lead">รับงานได้ตามความต้องการ<br>เลือกงานที่เหมาะสมกับคุณ</p>
          
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-sm-11 col-12">
                      <div class="info shadow mb-3">
                        <h4 class="fig text-center">ขั้นตอนการสมัครงานกับ Nest Homecare</h4>
                        <ol >
                          <li>ลงทะเบียนออนไลน์(ฟรี)</li>
                          <li>กรอกข้อมูลส่วนตัวเพื่อใช้สำหรับหางาน</li>
                          <li>แอดไลน์ @nestjob <a href="https://line.me/R/ti/p/%40xia1997s"><img height="36" border="0" alt="เพิ่มเพื่อน" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a> รอเลือกงานที่สนใจทางไลน์</li>
                          <li>พิมพ์รหัสงาน ในงานที่ต้องการจะรับทางไลน์</li>
                          <li>หากท่านได้รับเลือกจากผู้จ้าง ทางเราจะติดต่อกลับภายใน 24 ชม.</li>
                          <li>หากยังไม่ได้งานที่ต้องการ ท่านสามารถรอรับงานใหม่ได้ทุกวัน</li>
                        </ol>
                      </div>
                    </div>
                  </div>
  
      
  </div>
  <div class="container">

    <div class="row justify-content-center  col-12">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfNjyIx37WXIkr8MtSeicy6rz3i0c_RvrOkkgEKfqle9RN0Ag/viewform?embedded=true" width="640" height="2500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    </div>