
<div class="container">
    <div class="col-md-10 col-sm-12 col-12">

      <h5>เงื่อนไขการชำระเงิน</h5>
      <ol>
        <li>ครอบครัวหรือผู้รับบริการต้องชำระค่าบริการภายใน 2 วัน หลังจากได้รับใบแจ้งค่าบริการ</li>
        <li>ครอบครัวหรือผู้รับบริการต้องชำระค่าบริการทั้งหมดก่อนล่วงหน้าก่อนเริ่มจ้างงาน</li>
        <li>การยกเลิกหรือเปลี่ยนแปลง ต้องแจ้งอย่างน้อย 5 วัน ก่อนถึงวันและเวลาที่จอง ครอบครัวหรือผู้รับบริการจึงจะได้รับเงินคืนเต็มจำนวน หากมีการยกเลิกบริการในช่วง 5 วันก่อนเริ่มงาน ทางเรายินดีคืนเงินส่วนที่เหลือให้ โดยหักค่าบริการจัดหา 10%</li>
        <li>จองได้สูงสุด 2 สัปดาห์</li>
        <li>ครอบครัวหรือผู้รับบริการต้องชำระค่าบริการทั้งหมดก่อนล่วงหน้า หากมีการยกเลิก</li>
        <li>ครอบครัวหรือผู้รับบริการสามาถชำระค่าบริการผ่าน
          <br><span class="bold">บัญชีธนาคาร  กสิกรไทย บจก.บ้านผู้สูงอายุกรุงเทพ เลขที่บัญชี 036-8-69545-9</span></li>
      </ol>

    </div>
    
  </div>


