<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-md-10 col-sm-10 col-12">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 card shadow border-0  px-0">
          <h3 class="title text-center">อัตราค่าบริการ</h3>
          <div class="table  ">
            <table class="table1">
              <thead class="text-head text-center">
                <tr>
                  <th>รายการ</th>
                  <th>ไป-กลับ (เวรละ 12
                    ชม.)</th>
                  <th>อยู่ประจำที่บ้าน(24
                    ชม.)</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr>
                  <td>
                    รายวัน
                  </td>
                  <td>1,200 บาท</td>
                  <td>1,600 บาท</td>
                </tr>
                <tr>
                  <td rowspan="2">
                    รายเดือน<br>
                    (หยุด 4 วัน/เดือน)
                  </td>
                  <td>18,000 บาท/เดือน</td>
                  <td>20,000 บาท/เดือน</td>
                </tr>
                <tr>
                  <td>
                    OT 800 บาท/วัน
                  </td>
                  <td>OT 800 บาท/วัน</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-payment></app-payment>
</div>