<div class="container mt-3">
  <h5>ข้อตกลงในการร่วมงานกับ Nest homecare</h5>
  <ol>
      <li>Homecare รับประกันรายได้ ในกรณีรายเดือนเงินจะออกวันอังคารที่ 2 นับจากวันที่เริ่มทำงาน หลังจากนั้นเงินออกทุกวันอังคาร แต่หากผู้ดูแลติดต่อรับค่าจ้างกับผู้จ้างโดยตรง แล้วไม่ได้รับค่าจ้างตามที่ตกลง ทาง Nest Homecare ไม่สามารถชดเชยความเสียหายที่เกิดขึ้นได้ และสัญญาจ้างถือเป็นโมฆะ</li>
      <li>และเงินจะออกครบจำนวน ในวันอังคารแรกหลังจากจบงาน</li>
      <li>ในกรณีรับงานรายวัน เงินจะออกในวันถัดไป หลังจากทำงานครบกำหนด</li>
      <li>หากผู้จ้างยกเลิกการจ้างน้อยกว่า 5 วัน ก่อนถึงวันเริ่มงาน ทางเราจะมีการชดเชยค่าเสียโอกาสให้ในวงเงินสูงสุด 1,000 บาท</li>
      <li>เมื่อผู้ดูแลตกลงรับงานกับทาง Nest Homecare แล้ว ผู้ดูแลจะต้องไปให้บริการตามวัน เวลาจบครบกำหนด หากผู้ดูแลไม่ได้ไปให้บริการตามที่กำหนด จะถือว่าสัญญาจ้างเป็นโมฆะ และผู้ดูแลจะไม่ได้รับค่าจ้างตามที่ตกลงไว้</li>
      <li>กรณีที่ผู้ดูแลต้องการหยุดมากกว่า 4 วันต่อเดือน ทำให้ผู้จ้างต้องหาผู้ดูแลทดแทน ผู้ดูแลจะถูกหักค่าจ้างวันละ 1,600 บาท</li>
      <li>หากผู้จ้างเสนอให้ผู้ดูแลหยุดเพิ่มเอง ผู้ดูแลจะไม่ถูกหักค่าจ้างใดๆ</li>
      <li>ผู้ดูแลต้องรับผิดชอบค่าอาหาร และค่าเดินทางของตัวเองเนื่องจากค่าอาหารและค่าเดินทางรวมอยู่ในค่าจ้างแล้ว</li>
     </ol>
</div>
