<div class="container">
  <div class="py-3">
    <h1 class="text-center">บทความทั้งหมด</h1>
  </div>
  <!-- card blog -->
  <div class="row justify-content-center">
  <div class="col-md-10 col-sm-12 col-12 col-lg-8">
    <div class="card mb-4 shadow">
      <img src="../../../assets/5thing-to-prevent-bedridden.jpg" alt="5สิ่งที่ต้องระวังในการดูแลผู้ป่วยติดเตียง" class="card-img-top" >
      <div class="card-body">
        <h2 class="card-title">5 สิ่งที่ต้องระวังในการดูแลผู้ป่วยติดเตียง</h2>
        <p class="card-text">เมื่อคนที่เรารักเป็นผู้ป่วยติดเตียง เราจะมีวิธีอย่างไรในการดูแลผู้ป่วยติดเตียง เพื่อให้คนที่เราที่รักมีสุขภาพที่แข็งแรงและยืนยาว</p>
          <div class="row justify-content-end">
            <button class="btn btn-primary mr-3" id="readmore" routerLink="./5thing-to-prevent-bedridden">อ่านเพิ่มเติม...</button>

          </div>
        <p class="card-text"><small class="text-muted">อัพเดทเมื่อ 20/5/2019</small></p>
      </div>
    </div>
    <!-- end  -->
    <!-- <div class="card mb-4 shadow">
      <img src="../../assets/Header.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
          <div class="row justify-content-end">
              <button class="btn btn-primary mr-3" id="readmore">อ่านเพิ่มเติม...</button>
          </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div> -->
  </div>
</div>

</div>